<form [formGroup]="contentForm">
  <div class="translate-form">
<div class="flex-child">
  <mat-form-field class="first">
    <mat-label>Source language</mat-label>
    <mat-select formControlName="source" [disabled]="detectLanguage">
      <mat-option *ngFor="let country of countries" [value]="country.code">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Text</mat-label>
    <input class="text" matInput formControlName="text">
  </mat-form-field>
</div>
  <div class="flex-child">
  <mat-form-field>
    <mat-label>Target language</mat-label>
    <mat-select formControlName="target">
      <mat-option *ngFor="let country of countries" [value]="country.code">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-checkbox color="primary" formControlName="automatic">
      Detect language
    </mat-checkbox>
    <div class="response-wrap">
    <span>Response:{{ responseText }}</span>
    <p *ngIf="responseText">Result: {{ responseText }}</p>
    </div>
   </div>
  </div>
  <div class="btn-wrap">
  <button (click)="translate()" mat-raised-button>translate</button>
  </div>
</form>
