<form class="translate-form" [formGroup]="contentForm">
  <mat-form-field>
    <mat-label>Source language</mat-label>
    <mat-select formControlName="source" [disabled]="detectLanguage">
      <mat-option *ngFor="let country of countries" [value]="country.code">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Target language</mat-label>
    <mat-select formControlName="target">
      <mat-option *ngFor="let country of countries" [value]="country.code">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Text</mat-label>
    <input matInput formControlName="text">
  </mat-form-field>
  
  <mat-checkbox color="primary" formControlName="automatic">
    Detect language
  </mat-checkbox>

  <p *ngIf="responseText">Result: {{ responseText }}</p>
  
  <button (click)="translate()" mat-raised-button color="primary">translate</button>
</form>
